<div>


    {{#each blogPosts as |blogPost|}}
    <div class="blogpost-card">

        <div class="title">
            {{blogPost.title}}
        </div>

        <div class="content">
            {{blogPost.content}}
        </div>

        <div class="date">
            {{blogPost.date_created}}
            <button class="delete" data-id="{{blogPost.id}}">DELETE</button>
        </div>
    </div>
    {{/each}}


    {{!-- <div>
        {{#each comment as |comment|}}
        <button class="comment-content">
            Comment
        </button>
        {{comment.content}}
        {{/each}}
    </div> --}}

</div>

<script src="./js/homepage.js"></script>