<div>
    <div>
        <nav>
            {{#if logged_in}}
            <button>
            <a href="/">Homepage</a>
            </button>
            <button class="no-button" id="logout">logout</button>
            {{else}}
            <button>
                <a href="/login">Login</a>
            </button>
            {{/if}}
            {{!-- <button>
            <a href="/">Homepage</a>
            </button> --}}
            <button>
            <a href="/api/blogpost">Create a blogpost</a>
            </button>
           

        </nav>
    </div>

    {{#each blogPosts as |blogPost|}}
    <div class="blogpost-card">

        <div class="title">
            {{blogPost.title}}
        </div>

        <div class="content">
            {{blogPost.content}}
        </div>

        <div class="date">
            {{blogPost.date_created}}
            <button  class="delete"  data-id="{{blogPost.id}}">DELETE</button>
        </div>
    </div>
    {{/each}}

</div>

<script src="./js/homepage.js"></script>